body {
    font-family: 'Roboto', sans-serif;

    line-height: 22px;
    font-weight: 300;
}
a {
    text-decoration: none;
    color: black;
}
h1 {
    font-weight: 500;
}
h1, h2, h3 {
    text-align: center;
}
header, footer {
    width: 85%;
    min-height: 20px;

    margin: 0 auto;
    padding: 10px 25px;

    text-align: center;

    color: #ffffff;
    background-color: #0191ce;
}

/* H E A D E R */
header {
    display: flex;
    position: fixed;

    top: 0;
    right: 0;
    left: 0;

    margin: 0 auto;

}
header div {
    flex-grow: 1;
}
.header-logo {
    background: url("img/un_logo_white.png") no-repeat center;
    background-size: contain;
}

/* M A I N */
main {
    width: 75%;
    min-height: 200px;

    padding: 25px 35px;
    margin: 100px auto 60px auto;

    color: black;
    background-color: #ebebeb;
}
table {
    border-collapse: collapse;
    margin: 15px auto;
}
td {
    border: 1px solid #0191ce;
    padding: 5px;
}
.btn {
    display: block;
    margin: 0 auto;
    border: none;
    background-color: #0191ce;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 50px;
}
.btn:hover{
    background-color: rgba(1, 145, 206, 0.7);
    color: #000000;
}
                    /*form*/

#member_details {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 130px 210px;
    grid-template-rows: repeat(5, 1fr);

    grid-row-gap: 8px;

}
#member_details label {
    display: block;
}
.fio, .personal_data {
    font-weight: bolder;
    margin-top: 10px;
    padding-left: 15px;
}

/* F O O T E R */
footer {
    display: flex;
    position: fixed;

    right: 0;
    bottom: 0;
    left: 0;

    margin: 0 auto;

}